# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Data
backend/data/raw/

# Envs
.venv/
venv/

# OS / IDE
.DS_Store
.vscode/
.idea/

# Secrets
.env

# Logs
*.log

# Docker
**/.docker/

# Front End
frontend/node_modules

# Misc
skillbridge_pr3_usecase.xml