# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Data
backend/data/raw/

# Envs
.venv/
venv/

# OS / IDE
.DS_Store
.vscode/
.idea/

# Secrets
.env

# Logs
*.log
progressReports.tex

# Docker
**/.docker/

# Front End
frontend/node_modules
